
@{
    Layout = null;
}

<h3>Mvc tablo</h3>
<br />
<table>
    <tr>
        <th>Adı</th>
        <th>Id</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1 </td>
        <td>eğitim </td>
        <td>Aciklama </td>
        <td>True </td>
    </tr>
</table>